.m-portlet__head{
	padding:2rem 1.2rem!important;
}
.k-grid td {
    padding: .929em 1.286em;
    padding-right: .286em!important;
    padding-left: .286em!important;
	font-size: 13px!important;
    }
.k-filter-row th, .k-grid-header th.k-header {
	padding-top: .286em!important;
	padding-bottom: .286em!important;
    padding-right: .286em!important;
    padding-left: .286em!important;
}   
.k-grid-toolbar{
	padding-top:8px!important;
	padding-bottom:8px!important;
}
.m-portlet__body{
    padding-top: 0.5rem!important;
    padding-right: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 0.5rem!important;
}

.btn-custom-pad{
	    padding: .30rem .4rem!important;
}


.kt-ribbon .kt-ribbon__islem_yapilmamis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    background-color: #ccc;
    color: #ffffff;
}

.m-portlet__head{
	padding:2rem 1.2rem!important;
}
.k-grid td {
    padding: .929em 1.286em;
    padding-right: .286em!important;
    padding-left: .286em!important;
	font-size: 13px!important;
    }
.k-filter-row th, .k-grid-header th.k-header {
	padding-top: .286em!important;
	padding-bottom: .286em!important;
    padding-right: .286em!important;
    padding-left: .286em!important;
}   
.k-grid-toolbar{
	padding-top:8px!important;
	padding-bottom:8px!important;
}
.m-portlet__body{
padding:3px!important;
}

.kt-dialog{
	width: 100% !important;
    margin: 0 auto;
    position: fixed;
    z-index: 1100;
    padding: 1rem;
    background-color:rgba(218, 220, 217,.5);
    border-radius: 4px;
	left: 0 !important;
	margin: 0 !important;
	height: 100% !important;
	align-items: center !important;
	}